/* Add a black background color to the top navigation */
.topnav {
  background-color: #585353;
  overflow: hidden;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background: skyblue;
  color: rgb(0, 0, 0);
  border: 2px solid;
  border-radius: 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
@media print{
  .btn , a {
    visibility: hidden;
  }
  body{
    visibility: visible;
  }
}